@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #030640;
    color: #9295A6;
}

.perfil {
    max-width: 150px;
    max-height: 200px;
    border-radius: 200px;

}
table{
    background-color: aqua;
    min-width: 116vh;
    height: 300px;
    justify-content: center;

}